body {
  margin: 0;
}
section {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: tomato;
  font-family: cursive;
}

.stats-container {
  position: relative;
  margin: 0 20px;
  border: dotted green;
  min-width: 200px;
  height: 100px;
  padding: 20px;
}

.stats-container h4 {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.fa-solid {
}
.fa-briefcase {
}
.fa-3x {
}
.icon {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.counter {
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: aqua;
}
.fa-cloud {
}
.fa-brands {
}
.fa-apple {
}
